@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.img1 {
  width: 350px;
}
.body1 {
  background-color: rgba(12, 59, 86, 0.753);
}
.container-fluid {
  background-color: rgba(12, 59, 86, 0.753);
}
.col-md-8 {
  background-color: rgba(32, 74, 99, 0.753);
}
.col-md-4 {
  background-color: rgba(32, 74, 99, 0.753);
}
